spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/shivamnagapure/PayFlow_config_repo.git
          clone-on-start: true
          default-label: main

server:
  port: 8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
